.heroSubtitle {
    margin-bottom: 1.25rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
}

.projectItem {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
}

.projectItem:nth-child(even) {
    direction: rtl;
}

.projectItem:nth-child(even)>* {
    direction: ltr;
}

.projectVisual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    /* min-width: 15rem; */
    font-size: clamp(2rem, 3vw, 4rem);
    color: var(--accent-color);
    aspect-ratio: 4/3;
    border: 3px solid var(--accent-color);
    border-radius: 1rem;
    background: linear-gradient(135deg, #333, #555);
    overflow: hidden;
}

.projectVisual::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 30%, rgba(212, 175, 55, 0.1) 50%, transparent 70%);
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.projectItem:hover .projectVisual::before {
    transform: translateX(100%);
}

.projectTitle {
    margin-bottom: 0.75rem;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.projectType {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--accent-color);
    letter-spacing: 1px;
}

.projectDescription {
    line-height: 1.8;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.projectMeta {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.projectYear {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-primary-color);
    opacity: 0.6;
}

.projectTags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.projectTag {
    padding: 0.25rem 0.75rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 0.5rem;
    background-color: transparent;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .projectVisual {
        height: 22rem;
    }
}

@media (min-width: 768px) {
    .projectItem {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .projectItem {
        max-width: 80vw;
        margin: 0 auto 2rem;
    }
}