.servicesPage {
    min-height: 100vh;
}

.servicesGrid {
    padding: 2rem 0;
    background-color: var(--bg-color);
}

.gridContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2vw;
}

.serviceCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.serviceIcon {
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    color: var(--accent-color);
    /* margin-bottom: 20px; */
}

.serviceCard h3 {
    margin-bottom: 15px;
}

.serviceCard p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.servicePreview {
    margin-top: auto;
    border-radius: 5px;
    overflow: hidden;
}

.servicePreview img {
    transition: var(--transition);
}

.serviceCard:hover .servicePreview img {
    transform: scale(1.05);
}

.serviceCard:hover .serviceImage::before {
    transform: translateX(100%);
}

@media (max-width: 768px) {
    .gridContainer {
        padding: 0 1rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}