.servicesGridContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5vw;
    row-gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}

.serviceCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.serviceIcon {
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    color: var(--accent-color);
}

.serviceCard h3 {
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.serviceCard p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--text-secondary-color);
}

.servicePreview {
    margin-top: auto;
    border-radius: 5px;
    overflow: hidden;
}

.servicePreview img {
    transition: var(--transition);
}

.serviceCard:hover .servicePreview img {
    transform: scale(1.05);
}

.serviceCard:hover .serviceImage::before {
    transform: translateX(100%);
}

@media (min-width: 640px) {
    .servicesGridContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .servicesGridContainer {
        grid-template-columns: repeat(3, minmax(0, 350px));
    }
}