/* @import url('https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Inter:wght@300;400;500;600;700&display=swap'); */

:root {
    --white: #ffffff;
    --gray-light: #f3f4f6;
    --black: #000000;

    --accent-color: #d4af37;
    --purple: #764ba2;
    --indigo: #5a6fd8;

    --light-blue: #e5efff;
    --dark-blue: #4f46e5;
    --cornflower-blue: #667eea;

    --red: #ef4444;
    --light-red: #ffebeb;
    --dark-red: #dc2626;

    --light-green: #dcfce7;
    --dark-green: #166534;
    --medium-green: #4ade80;

    --yellow: #f59e0b;
    --light-yellow: #fff9e7;

    /* not use */
    /* --light-purple: #c084fc;
    --dark-purple: #6b21a8;
    --yellow: #f59e0b;
    --dark-yellow: #b45309;
    --black: #000000; */

    --bg-gradient-stops: var(--cornflower-blue), var(--purple);
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

[data-theme='light'] {
    /* Light mode colors */
    --bg-color: #ffffff;
    --bg-linear-color: linear-gradient(135deg, #f3f4f6 0%, #e5e5e5 100%);
    --text-color: #111111;
    --border-color: #e0e0e0;
    --card-bg: #f5f5f5;
    --overlay-bg: #ffffffe6;

    --bg-security-warning-color: #fefce8;
    --text-security-warning-primary-color: #854d0e;
    --text-security-warning-secondary-color: #a16207;

    --text-primary-color: #111827;
    --text-secondary-color: #6b7280;
    --card-primary-bg: #ffffff;
    --card-secondary-bg: #f9fafb;
    --bg-primary-color: #ffffff;
    --bg-secondary-color: #f3f4f6;
    --border-primary-color: #e5e7eb;
    --border-secondary-color: #d1d5db;

    --input-bg-color: var(--card-primary-bg);
    --input-border-color: var(--border-secondary-color);
    --input-text-color: var(--text-primary-color);
    --input-placeholder-color: var(--text-secondary-color);
    --input-focus-border-color: var(--accent-primary-color);

    --input-disabled-bg-color: var(--bg-secondary-color);
    --input-disabled-text-color: #9ca3af;
    --input-disabled-border-color: var(--border-primary-color);
}

[data-theme='dark'] {
    /* Dark mode colors */
    --bg-color: #111111;
    --bg-linear-color: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
    --text-color: #ffffff;
    --border-color: #333333;
    --card-bg: #1a1a1a;
    --overlay-bg: rgba(17, 17, 17, 0.9);

    --bg-security-warning-color: #3f3513;
    --text-security-warning-primary-color: #fef3c7;
    --text-security-warning-secondary-color: #fde047;

    --text-primary-color: #f9fafb;
    --text-secondary-color: #9ca3af;
    --card-primary-bg: #1f2937;
    --card-secondary-bg: #374151;
    --bg-primary-color: #111827;
    --bg-secondary-color: #1f2937;
    --border-primary-color: #374151;
    --border-secondary-color: #4b5563;

    --input-bg-color: var(--bg-primary-color);
    --input-border-color: var(--border-primary-color);
    --input-text-color: var(--text-primary-color);
    --input-placeholder-color: var(--text-secondary-color);
    --input-focus-border-color: var(--accent-primary-color);

    --input-disabled-bg-color: #1f2937;
    --input-disabled-text-color: #6b7280;
    --input-disabled-border-color: var(--border-primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: sans-serif; */
    font-weight: 400;
    letter-spacing: 0.5px;
}

h1 {
    font-size: clamp(1.8rem, 2.7vw, 3.5rem);
}

h2 {
    font-size: clamp(1.5rem, 2vw, 3rem);
}

h3 {
    font-size: clamp(1.25rem, 1.5vw, 2.5rem);
}

h4 {
    font-size: clamp(1.25rem, 1.5vw, 2rem);
}

h5 {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

h6 {
    font-size: clamp(0.8rem, 1vw, 1.25rem);
}

p {
    font-size: clamp(1rem, 1.25vw, 2rem);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

select {
    cursor: pointer;
}

img,
video {
    max-width: 100%;
    height: auto;
}

/* Utility classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.section {
    padding: 4rem 0;
}

/* text alignment utilities */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* display utilities */
.d-flex {
    display: flex;
}

.d-inherit {
    display: inherit;
}

.d-none {
    display: none;
}

.a-center {
    align-items: center;
}

.a-start {
    align-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem
}

.f-shrink-0 {
    flex-shrink: 0;
}

/* flex utilities */
.flex-row {
    flex-direction: row !important;
}

/* width utilities */
.w-7 {
    width: 1.75rem;
}

.w-100 {
    width: 100%;
}

/* height utilities */
.h-7 {
    height: 1.75rem;
}

.h-18 {
    height: 4.5rem;
}

.h-19 {
    height: 4.75rem;
}

.h-100 {
    height: 100%;
}

/* line height utilities */
.line-height-1 {
    line-height: 1;
}

/* margin utilities */
.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-18 {
    margin-top: 4.5rem;
}

.mt-19 {
    margin-top: 4.75rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* padding utilities */
.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-8 {
    padding: 2rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pb-0 {
    padding-bottom: 0;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 640px) {
    .p-sm-6 {
        padding: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .px-lg-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

/* overflow utilities */
.overflow-hidden {
    overflow: hidden;
}

/* position utilities */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* top position utilities */
.top-8 {
    top: 2rem;
}

/* z-index utilities */
.z--1 {
    z-index: -1;
}

/* opacity utilities */
.opacity-0 {
    opacity: 0;
}

/* globally pages styles */
.fromRequiredStar {
    color: #ff0000;
    margin-left: 0.2rem;
}

.fromOptional {
    color: var(--text-secondary-color);
    font-size: 0.7rem;
    margin-left: 0.2rem;
}

.formInputErrorBorder {
    border: 1px solid #ff0000 !important;
}

.formErrorMessage {
    font-size: 0.7rem;
    color: #ff0000;
}

/* tiny mce editor style overrides */
/* .tox .tox-edit-area::before {
    border: 2px solid var(--accent-color) !important;
    border-radius: 0.25rem !important;
}

.tox-statusbar__path-item {
    display: none !important;
}

.error-message .tox .tox-edit-area::before {
    border: 1px solid #ff0000 !important;
    opacity: 1;
} */

/* PrimeReact Editor Custom Styles */
.error-message .primeReaceEditorClass {
    border: 1px solid #ff0000 !important;
    opacity: 1;
}

.ql-editor.ql-blank::before {
    font-size: 0.875rem;
    color: var(--input-placeholder-color) !important;
}

[data-pc-section="toolbar"] {
    display: none;
}

.iconStyle {
    width: 2.2em;
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--accent-color);
}

/* all page hero sections */

.heroSection {
    padding: 2rem 0;
    text-align: center;
    background: var(--bg-linear-color);
}

.heroContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.75rem;
}

.heroTitle,
.storyTitle {
    margin-bottom: 0.25em;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.separatorHeroTitle,
.separatorStoryTitle,
.separatorShowReelTitle {
    width: 180px;
    height: 3px;
    margin: 0 auto 20px;
    background-color: var(--accent-color);
}

/* .heroSubtitle {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
} */

.heroDescription {
    /* font-size: 1.1rem; */
    line-height: 1.8;
}

/* Project Empty State */
.projectEmptyState {
    padding: 2rem;
    text-align: center;
    background-color: var(--card-secondary-bg);
    border-radius: 0.375rem;
}

.projectEmptyState svg {
    width: 4rem;
    height: 4rem;
    margin: 0 auto 1rem;
    color: var(--text-secondary-color);
}

.projectEmptyState h4 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-primary-color);
    margin-bottom: 0.5rem;
}

/*
 * Admin All Page Styles
 * Page Header
*/
.pageHeader h1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--text-primary-color);
}

.pageHeader p {
    font-size: 0.78rem;
    line-height: 1.5rem;
    color: var(--text-secondary-color);
}

/* Card Container */
.cardContainer {
    margin-top: 1rem;
    background-color: var(--bg-primary-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 #000, 0 0 #000, var(--box-shadow);
}

/* Section Header */
.sectionHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--border-primary-color);
}

.sectionHeading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sectionIcon {
    font-size: 1.25rem;
    color: var(--indigo);
}

.sectionHeading h2 {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--text-primary-color);
    line-height: 1.75rem;
    flex: 1 1;
}

/* Responsive breakpoints */
@media (min-width: 480px) {
    .pageHeader h1 {
        font-size: 1.5rem;
    }

    .pageHeader p {
        font-size: 1rem;
    }

    .sectionIcon {
        font-size: 1.5rem;
    }

    .sectionHeader {
        flex-direction: row;
        align-items: center;
    }

    .sectionHeading h2 {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .heroContent {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    .section {
        padding: 2rem 0;
    }
}