.statusCards {
    margin-top: 1.5rem;
    display: grid;
    gap: 0.5rem;
    row-gap: 0.75rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.statusCard {
    padding: 0.75em;
    border-radius: 0.5rem;
    background-color: var(--card-secondary-bg);
    box-shadow: 0 0 #000, 0 0 #000, var(--box-shadow);
}

.statusCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.75rem; */
}

.statIcon {
    display: inherit;
    margin-bottom: 0.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    /* background-color: #eff6ff; */
}

.statIcon svg {
    width: 1.2rem;
    height: 1.2rem;
    /* color: var(--cornflower-blue); */
}

.readStatIconColor {
    color: var(--dark-green);
    background-color: var(--light-green);
}

.unreadStatIconColor {
    color: var(--red);
    background-color: var(--light-red);
}

.totalStatIconColor {
    color: var(--dark-blue);
    background-color: var(--light-blue);
}

.todayStatIconColor {
    color: #17a2b8;
    background-color: #e1fbff;
}

.thisWeekStatIconColor {
    color: #7c3aed;
    background-color: #f4e9ff;
}

.thisMonthStatIconColor {
    color: var(--yellow);
    background-color: var(--light-yellow);
}

.statContent {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.statContent .title {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

.statContent .value {
    font-size: 0.9rem;
    font-weight: 600;
    /* line-height: 2rem; */
    color: var(--text-primary-color);
}

.msgNotFound svg {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: #9ca3af;
}

.msgNotFound h3 {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.msgNotFound p {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

/* .receivedMsg:hover {
    background-color: #f9fafb;
} */

.receivedMsg .msgIsRead {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.msgIsRead.yes {
    background-color: var(--medium-green);
}

.msgIsRead.no {
    background-color: var(--red);
}

.receivedMsg .senderName {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.receivedMsg .senderEmail {
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

.receivedMsg .sendDate {
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.receivedMsg .sendTime {
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--text-secondary-color);
}

.viewAllMsg {
    padding: 0.75rem 1.5rem;
    /* background-color: #f9fafb; */
    border-top: 1px solid var(--border-primary-color);
}

.viewAllMsg a {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--indigo);
    transition: all 0.3s ease-in-out;
}

.viewAllMsg a:hover {
    font-size: 1rem;
    color: var(--dark-blue);
}

.quickCards {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1.5rem;
}

.quickCard {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-primary-color);
    background-color: var(--card-secondary-bg);
    transition: all 0.3s ease-in-out;
}

.quickCard:hover {
    background-color: var(--bg-secondary-color);
    border-color: var(--border-secondary-color);
    transform: translateY(-2px) scale(1.025);
}

.quickCard svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    color: var(--cornflower-blue);
}

.quickCard .title {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.quickCard .subTitle {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--text-secondary-color);
}

@media (min-width: 480px) {
    .statusCardContent {
        flex-direction: row;
    }

    .statIcon svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .statContent {
        display: block;
        margin-left: 1rem;
    }

    .statContent .title {
        display: block;
        font-size: 0.9rem;
    }

    .statContent .value {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .statusCards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .quickCards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* @media (min-width: 1024px) {
    .statusCards {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
} */