.formActions {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5rem;
    border-top: 1px solid var(--border-primary-color);
    /* position: sticky;
    bottom: 0; */
    background-color: var(--bg-primary-color);
}

.submitButton {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    /* font-size: 0.9rem; */
    font-weight: 500;
    color: #ffffff;
    background-color: var(--indigo);
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.submitButton:hover {
    background-color: var(--dark-blue);
}

.submitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.responseInterfaceOverlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}