.messageHeader {
    display: flex;
    justify-content: space-between;
}

.backButton {
    margin-right: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--indigo);
    transition: all 0.3s ease-in-out;
}

.backButton:hover {
    font-size: 1.5rem;
}

/* Message Actions Buttons */
.messageActions {
    display: flex;
    gap: 0.5rem;
}

.markButton,
.deleteButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    transition: all 0.3s ease-in-out;
}

.markButton {
    color: var(--white);
    background-color: var(--yellow);
}

.markButton:hover {
    background-color: var(--border-primary-color);
}

.deleteButton {
    color: var(--white);
    background-color: var(--red);
}

.deleteButton:hover {
    background-color: var(--dark-red);
}

/* Message Container */
.senderInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-primary-color);
}

.profileLogo {
    width: 1.875em;
    height: 1.875em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    background-color: var(--cornflower-blue);
    border-radius: 50%;
}

.profileIcon {
    font-weight: 500;
    color: var(--white);
}

.profileName {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-primary-color);
}

.profileEmail {
    font-size: 0.875rem;
    color: var(--text-secondary-color);
}

.profileRole {
    padding: 0.125rem 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 1rem;
    text-transform: capitalize;
}

.statusBadge {
    padding: 0.125rem 0.5rem;
    font-size: 0.67rem;
    font-weight: 500;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 2rem;
    text-transform: capitalize;
}

.statusBadge.unread {
    color: var(--red);
    background-color: var(--light-red);
}

.receiveDetails {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 0.6rem;
    color: var(--text-secondary-color);
}

.messageContainer {
    padding: 1.25rem;
    padding-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.messageTitle {
    padding: 0 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.messageBody {
    padding: 0.75rem;
    color: var(--text-primary-color);
    background-color: var(--card-secondary-bg);
    border-radius: 0.375rem;
    /* white-space: pre-wrap; */
}

/* Message Not Found */
.messageNotFound {
    padding: 1.25rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 #000, 0 0 #000, var(--box-shadow);
}

.messageNotFound .warning svg {
    font-size: 3.25rem;
    color: var(--yellow);
}

.messageNotFound h4 {
    font-weight: 600;
    color: var(--text-primary-color);
}

.messageNotFound p {
    font-size: 0.875rem;
    color: var(--text-secondary-color);
}

.notFoundBackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    color: var(--indigo);
    transition: all 0.3s ease-in-out;
}

.notFoundBackButton:hover {
    font-size: 1.1rem;
}

/* Responsive Styles */
@media (min-width: 480px) {
    .receiveDetails {
        font-size: 0.75rem;
    }
}

@media (min-width: 640px) {
    .messageHeader {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .senderInfoContainer {
        padding: 1.5rem;
    }

    .profileLogo {
        font-size: 1.5rem;
    }

    /* .messageContainer {
        padding: 1.5rem;
    } */
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}