.messagesHeader {
    display: flex;
    flex-direction: column;
}

.messagesMark {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 0.35rem;
    margin-top: 1rem;
}

.msgCountContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.msgCountContainer .selectMsg {
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

.msgCountContainer .totalMsg {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.markActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readMarkBtn,
.unreadMarkBtn,
.deleteMarkBtn {
    padding: 0.3rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
}

.readMarkBtn {
    color: #15803d;
    background-color: var(--light-green);
}

.readMarkBtn:hover {
    background-color: #bbf7d0;
}

.unreadMarkBtn {
    color: var(--yellow);
    background-color: var(--light-yellow);
}

.unreadMarkBtn:hover {
    background-color: #fff3d0;
}

.deleteMarkBtn {
    color: var(--red);
    background-color: var(--light-red);
}

.deleteMarkBtn:hover {
    background-color: #ffc9c9;
}

.markBtnDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.filterSearchContainer {
    display: flex;
    flex-direction: column;
}

.filterSearchContainer .searchBox {
    position: relative;
    flex: 1 1;
    max-width: 25rem;
}

.searchIcon,
.clearIcon {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    pointer-events: none;
}

.clearIcon {
    left: auto;
    right: 0.75rem;
}

.searchIcon svg,
.clearIcon svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #9ca3af;
}

.filterSearchContainer input {
    width: 100%;
    padding: 0.75rem 2.5rem;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border: 2px solid var(--input-border-color);
    border-radius: 0.5rem;
}

.filterSearchContainer .filter {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.filterByRead,
.filterByType {
    min-width: 120px;
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border: 2px solid var(--input-border-color);
    border-radius: 0.5rem;
}

.filterByType {
    margin-top: 0.5rem;
}

.filterByRead:focus-visible,
.filterByType:focus-visible {
    outline: none;
}

.msgNotFound svg {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: #9ca3af;
}

.msgNotFound h3 {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.msgNotFound p {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

.selectAllContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.selectAllCheckbox {
    width: 1rem;
    height: 1rem;
    /* color: var(--indigo); */
    border-radius: 0.25rem;
}

.selectAllContainer span {
    font-size: 0.57rem;
    font-weight: 600;
    line-height: 1rem;
    color: var(--text-primary-color);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.messageContainer {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--border-secondary-color);
    transition-duration: 150ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.singleMessage {
    min-width: 0px;
    flex: 1 1;
}

.messageMeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.singleMessage h3 {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.singleMessage .statusBadge {
    padding: 0.125rem 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 2rem;
    text-transform: capitalize;
}

.statusBadge.unread {
    color: var(--red);
    background-color: var(--light-red);
}

.messageCheckbox {
    width: 0.75rem;
    height: 0.75rem;
    margin-top: 0.25rem;
    color: var(--indigo);
}

.receiveDate {
    color: var(--text-secondary-color);
}

.receiveTime {
    color: #9ca3af;
}

.senderEmail {
    font-size: inherit;
    color: var(--text-secondary-color);
}

.messageSnippet {
    font-size: inherit;
    color: var(--text-primary-color);
    overflow: hidden;
}

.messageActionBtn {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.messageView,
.messageReadBtn,
.messageDeleteBtn {
    font-size: 0.75rem;
    transition: all 0.3s ease;
}

.messageView {
    font-weight: 500;
    color: var(--indigo);
}

.messageReadBtn {
    color: var(--text-secondary-color);
}

.messageDeleteBtn {
    color: var(--red);
}

.messageView:hover,
.messageReadBtn:hover,
.messageDeleteBtn:hover {
    font-size: 0.8rem;
    font-weight: 600;
}

/* Responsive Design */
@media (min-width: 480px) {
    .msgCountContainer {
        justify-content: start;
        gap: 0.75rem;
    }

    .markActions {
        justify-content: start;
        gap: 0.5rem;
    }

    .selectAllContainer span {
        font-size: 0.75rem;
    }

    .messageMeta {
        font-size: 0.9rem;
    }

    .messageView,
    .messageReadBtn,
    .messageDeleteBtn {
        font-size: 0.9rem;
    }
}

@media (min-width: 640px) {
    .messagesHeader {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .msgCountContainer {
        justify-content: end;
    }

    .markActions {
        justify-content: end;
    }

    .filterSearchContainer .filter {
        flex-direction: row;
    }

    .filterByType {
        margin-top: 0px;
        margin-left: 1rem;
    }
}

@media (min-width: 768px) {
    .messagesMark {
        align-items: end;
        margin-top: 0px;
    }
}

@media (min-width: 1024px) {
    .filterSearchContainer {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .filterSearchContainer .filter {
        margin-top: 0px;
        margin-left: 1rem;
    }
}