.profileEditBtn,
.changePasswordBtn,
.updateBtn {
    padding: 0.7em 1em;
    font-weight: 600;
    color: var(--white);
    border-radius: 0.5rem;
    background-color: var(--cornflower-blue);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.profileEditBtn:hover,
.changePasswordBtn:hover,
.updateBtn:hover {
    background-color: var(--dark-blue);
}

.updateBtn:disabled {
    background-color: var(--cornflower-blue);
    opacity: 0.5;
    cursor: not-allowed;
}

.profileUpdateForm,
.securityUpdateForm {
    max-width: 25rem;
}

.profileUpdateForm label,
.securityUpdateForm label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.profileUpdateForm input,
.securityUpdateForm input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border: 2px solid var(--input-border-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.profileUpdateForm input::placeholder,
.securityUpdateForm input::placeholder {
    color: var(--input-placeholder-color);
}

.profileUpdateForm input:focus,
.securityUpdateForm input:focus {
    outline: none;
    background-color: var(--input-focus-border-color);
    border-color: var(--cornflower-blue);
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
    transform: translateY(-2px);
}

.cancelBtn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #1f2937;
    border-radius: 0.5rem;
    background-color: #e5e7eb;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.profileInfoContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 1.25rem;
    padding: 1.5rem;
}

.profileLogo {
    width: 2.25em;
    height: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    background-color: var(--cornflower-blue);
    border-radius: 50%;
}

.profileIcon {
    font-weight: 500;
    color: var(--white);
}

.profileName {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-primary-color);
}

.profileEmail {
    font-size: 0.9rem;
    color: var(--text-secondary-color);
}

.profileRole {
    padding: 0.125rem 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 1rem;
    text-transform: capitalize;
}

.accountDetails {
    display: flex;
    justify-content: space-between;
}

.accountDetails .status,
.accountDetails .memberSince {
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.accountDetails span {
    padding: 0.125rem 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 1rem;
}

.accountDetails .joinDate {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: var(--text-secondary-color);
}

.securityDetails h3 {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-primary-color);
}

.securityDetails p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

.securityWarning {
    margin-top: 1rem;
    padding: 1.25rem;
    background-color: var(--bg-security-warning-color);
    border: 1px solid #ccb720;
    border-radius: 0.5rem;
}

.warningContent {
    padding-left: 0.5rem;
    border-left: 4px solid #ccb720;
}

.warningContent h3 {
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-security-warning-primary-color);
}

.warningContent p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
    color: var(--text-security-warning-secondary-color);
}

.statisticsGrids {
    display: grid;
    gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1.5rem;
}

.statisticsGrid {
    padding: 1rem 1.25rem;
    background-color: var(--card-secondary-bg);
    border: 1px solid var(--border-primary-color);
    border-radius: 0.5rem;
}

.statisticsGrid h3 {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--text-primary-color);
}

.statisticsGrid p {
    margin-top: 0.1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--text-secondary-color);
}

.statisticsGrid .roleBadge {
    padding: 0.125rem 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 1rem;
    text-transform: capitalize;
}

@media (min-width: 640px) {
    .profileInfoContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
    }

    .profileLogo {
        font-size: 1.5rem;
    }

    .statisticsGrids {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .statisticsGrids {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .statisticsGrid {
        padding: 1vw 1.5vw;
    }
}