.footer {
    padding-top: 2rem;
    background: var(--bg-linear-color);
    border-top: 1px solid var(--border-color);
}

.footerGridContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5vw;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

.footerGridItem {
    height: 15rem;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.footerLogo {
    margin-bottom: 0.75rem;
}

/* .footerLogo h2 {
    font-size: 1.8rem;
} */

.footerLogo span,
.footerBottom span {
    color: var(--accent-color);
}

.footerLinks {
    list-style: none;
}

.footerLinks li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footerLinks span {
    width: 2.1em;
    height: 2.1em;
    font-size: clamp(0.75rem, 1.2vw, 1rem);
}

.footerLinks a {
    font-size: 0.75rem;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.footerLinks a:hover {
    color: var(--accent-color);
    opacity: 1;
}

.footerNav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    list-style: none;
}

.footerNav a:hover {
    color: var(--accent-color);
}

.footerSocial {
    display: flex;
    /* justify-content: flex-end; */
    gap: 1.7vw;
}

.footerSocial a {
    color: var(--text-dark);
    font-size: clamp(1rem, 1.9vw, 1.2rem);
    transition: all 0.3s ease;
}

.footerSocial a:hover {
    color: var(--card-bg);
    transform: translateY(-3px);
}

.footerSection h3 {
    font-family: sans-serif;
    color: var(--accent-color);
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.footerBottom {
    border-top: 1px solid var(--border-color);
    padding: 1.25rem;
    text-align: center;
}

.footerBottom p {
    font-size: clamp(0.7rem, 1.75vw, 0.9rem);
    opacity: 0.75;
}

/* Responsive Design */
@media (min-width: 640px) {
    .footerGridContainer {
        padding: 0 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .footerGridContainer {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
}