.scrollToTop {
    position: fixed;
    bottom: 2rem;
    right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    animation: swipeUp 0.9s cubic-bezier(0.22, 1, 0.36, 1) infinite alternate;
}

@keyframes swipeUp {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.scrollToTop:hover {
    transform: translateY(-2px) scale(1.075);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}